PORT=4000
NODE_ENV=development
# CORS_ORIGIN=http://localhost:5173
CORS_ORIGIN=https://creditcardpayment.in
JWT_SECRET=dev-only-change-me-to-a-long-random-secret
JWT_EXPIRES_IN=7d
BCRYPT_ROUNDS=10


# Admin panel credentials (CHANGE ADMIN_PASSWORD before production)
ADMIN_USERNAME=hamdilwalechorhe
ADMIN_PASSWORD=sanskarichor
